@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text: 240 11% 93%;
	--background: 240 20%, 3%;
	--primary: 239 19% 48%;
	--secondary: 238 23% 29%;
	--accent: 239 27% 38%;
}

@media (prefers-color-scheme: light) {
	:root {
		--text: 240 11%, 7%;
		--background: 240 20% 97%;
		--primary: 239 19% 52%;
		--secondary: 238 23% 71%;
		--accent: 239 27% 62%;
	}
}

body{
	background: hsl(var(--background));
}
h1{
	color: hsl(var(--text));
}
